footer{
    margin-top: auto;
    bottom: 0px;
    .footer {
        background-color: black;
        height: 9rem;
        width: 100%;
        a {
            color: white;
            font-size: 3rem;
            padding: 2rem;
        }
    
    }

}