@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap');

@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex($principal, $secundario, $wrap) {
    display: flex;
    justify-content: $principal;
    align-items: $secundario;
    flex-wrap: $wrap;
}

@mixin h3 {
    text-align: center;
    padding: 1rem;
    color: rgba(182, 189, 194, 0.685);
}

* {
    @include reset;
}

html {
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}

body {
    min-height: 100vh;
}

.bg__gradient {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}

.titulo {
    font-size: 5rem;
    color: $colorTitulo;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

a {
    text-decoration: none;
}