.central {
    background-image: url(../imagenes/Vegetarianismo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    main .row{
        height: 90vh;
        .main__index{
            height: fit-content;
        }
        .main__mapa {
            height: 70vh;
        }
    }
}







