@media screen and (max-width: 1353px) {

    main {
        .menu {
            .titulo {
                font-size: 45px;
            }
        }

        #carousel {
            .carousel-inner img {
                height: 320px;
            }
        }
    }
}

@media screen and (max-width: 1193px) {

    main {
        #carousel {
            .carousel-inner img {
                height: 280px;
            }
        }

        .video {
            height: fit-content;
            margin: auto;

            iframe {
                width: 360px;
                margin-left: 2rem;
            }
        }

        .tienda {
            .tienda__card {
                width: 320px;
                height: 298.55px;

                p {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 902px) {

    header {
        .registro ul li {
            padding: 0.5rem;
        }

        nav ul {
            width: 70%;

            li a {
                font-size: 2rem;
            }
        }
    }

    main {
        background-size: cover;
        background-position: center;
        grid-template-rows: repeat(4, auto);

        #carousel {
            grid-column: 2/12;

            .carousel-inner img {
                height: 300px;
            }
        }

        .menu {
            grid-column: 3/11;
            text-align: center;
        }

        .video {
            grid-column: 2/12;
            grid-row: 3/4;
        }

        .tienda {
            grid-row: 4/5;

            .tienda__card {
                width: 270px;
                height: 220.55px;

                img {
                    height: 190.55px;
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    footer {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        height: fit-content !important;
    }

}

@media screen and (max-width: 630px) {

    header {
        height: 235px;

        .registro {

            a {
                font-size: 1rem !important;

            }
        }

        nav {
            flex-direction: column;

            .logo {
                margin-bottom: 1rem;
            }

            ul {
                width: 100%;
                border-radius: 0;
                margin: 0;
            }
        }
    }

    main {

        #carousel {

            .carousel-inner img {
                width: 310px;
                height: 240px;
            }
        }

        .menu {
            grid-column: 2/12;

            .titulo {
                text-align: center;
            }

            ul {
                text-align: center;
            }
        }
    }

}

@media screen and (max-width: 500px) {

    header{
        height: fit-content;
    
    nav{
        flex-direction: column !important;
        padding: 0;

        ul{
            flex-direction: column !important;
            width: 100%;

            li{
                display: block;
                border-bottom: 2px solid white;
                width: 100%;
                text-align: center;
            }
        }
    }
}
    
    main {
        #carousel {

            .carousel-inner img {
                width: 280px !important;
                height: 220px !important;
            }
        }

        .menu {
            grid-column: 1/13;
            .titulo {
                font-size: 35px;
            }
        }

        .video {
            grid-column: 1/13;
            margin: 0;
            text-align: center;
            
            iframe {
                width: 380px !important;
                height: 215px !important;
                
            }

            .titulo {
                font-size: 35px;
            }
        }

        .tienda{

            .tienda__card{
                width: 100%;
            }
        }
    }

    //BLOQUE DE SECCIÓN TIENDA//

    .main__tienda{
        
        .container{
            grid-column: 1/13;

            h2{
                font-size: 3rem;
            }

            .prod__card{

                h3{
                    font-size: 2rem;
                }
            }
        }
        
    }

}