@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap');
@import "_variables";
@import "_generales";
@import "_header";
@import "_productos";
@import "_footer";
@import "_tienda";
@import "_nosotros";
@import "_mediaqueries";


main {
    background-image: url(../imagenes/Vegetarianismo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto, auto;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-column-end: span 12;
    min-height: 100vh;

    #carousel {
        grid-column: 3/11;
        margin-top: 3rem;
        border: 2px solid black;

        .carousel-inner img {
            height: 380px;
        }
    }

    .menu {
        grid-column: 2/6;
        height: fit-content;
        padding: 2rem 1rem;
        @extend .bg__gradient;

        .titulo {
            text-align: left;
        }

        ul {
            list-style-type: none;
            text-align: left;

            li {
                padding: 1rem 0;

                a {
                    font-size: 40px;
                    color: rgb(206, 212, 149);
                }
            }
        }
    }

    .video {
        grid-column: 7/12;
        margin: 0 auto;
        padding: 2rem;
        @extend .bg__gradient;

        iframe {
            margin-top: 2rem;
        }
    }

    .tienda {
        grid-column: 2/12;
        grid-row: 3/4;

        @include flex(space-around, center, wrap);

        .tienda__card {
            width: 380px;
            height: 338.55;
            margin: 2rem;


            img {
                width: 100%;
                height: 253.91px;
            }

            p {
                font-size: 4rem;
                color: rgb(206, 212, 149);
                text-align: center;
                @extend .bg__gradient;

            }
        }
    }
}

.main__contacto{
    padding: 2rem;
    grid-template-rows: 1;

    .container-fluid{
        grid-column: 3/11;
        @extend .bg__gradient;

        h2{
            font-size: 3rem;
            color: $colorPrimario;
            text-align: center;
        }
    }

}

.main__ubicacion{
    grid-template-rows: 70vh;
    @extend .main__contacto;

    #mapa {
        margin:auto auto;
        width: 70%;
        height: 50vh;
    }
}












