@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Inconsolata', monospace;
}

body {
    background-image: url(../imagenes/fondoHeader.jpg);
    background-size: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    border: 2px solid chocolate;
    border-radius: 75px;
}

.bg__gradient {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}

.central {
    background-image: url(../imagenes/Vegetarianismo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
}

main .row{
    height: 90vh;
}

.main__mapa {
    height: 70vh;
}

.main__index{
    height: fit-content;
}

.titulo {
    font-size: 7rem;
    font-family: 'Dancing Script', 'cursive';
    color: rgb(255, 251, 0);
    text-decoration-line: underline;
}

h2 {
    font-size: 5rem;
    color: rgb(245, 197, 245);
    font-family: 'Pacifico', 'cursive';
}

footer{
    margin-top: auto;
    bottom: 0px;
}
.footer {
    background-color: black;
    height: 9rem;
    width: 100%;
}

.footer a {
    color: white;
    font-size: 3rem;
    padding: 2rem;
}

#mapa {
    width: 70%;
    height: 50vh;
}

@media screen and (max-width: 768px) {

    .main__index{
    flex-direction: column;
    }

}
