@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif; }

body {
  min-height: 100vh; }

.bg__gradient, .container, .main__nosotros .contenido, main .menu, main .video, main .tienda .tienda__card, .main__contacto .formulario, .main__ubicacion #mapa {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  border-radius: 5px; }

.titulo {
  font-size: 5rem;
  color: #ba98e6;
  text-align: center; }

a {
  text-decoration: none; }

header {
  background-image: url(../imagenes/fondoHeader.jpg);
  background-size: 100px;
  background-repeat: repeat;
  width: 100%; }
  header .registro ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
    header .registro ul li {
      background-color: #181818;
      margin-right: 2rem;
      padding: 1rem; }
      header .registro ul li a {
        color: white;
        font-size: 2rem; }
    header .registro ul li:hover {
      background-color: rgba(5, 7, 12, 0.75); }
      header .registro ul li:hover a {
        display: block;
        transform: scale(1.1);
        color: #fff; }
  header #btn-menu {
    display: none; }
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 2rem; }
    header nav .logo, header nav .logo2 {
      width: 150px;
      border: 2px solid chocolate;
      border-radius: 75px; }
    header nav .logo:hover, header nav .logo2:hover {
      transform: rotate(360deg);
      transition: all 1s; }
    header nav .logo2 {
      display: none; }
    header nav ul {
      list-style-type: none;
      width: 80%;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      background-color: #181818;
      border-radius: 1cm; }
      header nav ul li {
        padding: 1rem;
        flex-grow: 1;
        text-align: center; }
        header nav ul li a {
          color: white;
          font-size: 3rem; }
      header nav ul li:hover {
        background-color: rgba(5, 7, 12, 0.75);
        border-radius: 1cm; }
        header nav ul li:hover a {
          display: block;
          transform: scale(1.1);
          color: #fff; }

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 2rem;
  border-bottom: 1px solid #8f6161; }
  .producto img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px; }
  .producto .carrito {
    width: 50px;
    height: 50px; }

footer {
  margin-top: auto;
  bottom: 0px;
  background-color: black;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  footer .footer__pagos h3 {
    text-align: center;
    padding: 1rem;
    color: rgba(182, 189, 194, 0.685); }
  footer .footer__pagos .footer__pagos--tarjetas {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 1rem; }
    footer .footer__pagos .footer__pagos--tarjetas img {
      margin: 1rem; }
  footer .footer__contacto h3 {
    text-align: center;
    padding: 1rem;
    color: rgba(182, 189, 194, 0.685); }
  footer .footer__contacto .footer__contacto--arriba, footer .footer__contacto .footer__contacto--abajo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap; }
    footer .footer__contacto .footer__contacto--arriba i, footer .footer__contacto .footer__contacto--abajo i, footer .footer__contacto .footer__contacto--arriba p, footer .footer__contacto .footer__contacto--abajo p {
      color: white;
      font-size: 2rem; }
  footer .footer__redes h3 {
    text-align: center;
    padding: 1rem;
    color: rgba(182, 189, 194, 0.685);
    padding: 2rem; }
  footer .footer__redes a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    padding: 2rem; }

.main__tienda {
  grid-template-rows: repeat(5, auto);
  padding: 2rem 0; }

.container {
  grid-column: 2/12;
  height: fit-content; }
  .container h2 {
    font-size: 6rem;
    color: #ba98e6;
    font-weight: bolder;
    text-align: center; }
  .container .productos {
    grid-column: 3/11;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto; }
    .container .productos .prod__card {
      width: 205px;
      height: 302.11;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1rem;
      border: 1px solid #ced495; }
      .container .productos .prod__card img {
        width: 200px;
        height: 20vh; }
      .container .productos .prod__card h3 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #ced495; }
      .container .productos .prod__card p {
        font-size: 2rem;
        color: #ced495; }
      .container .productos .prod__card button {
        font-size: 2rem;
        font-weight: bolder;
        background-color: #ced495; }

.main__nosotros {
  padding: 2rem; }
  .main__nosotros .contenido {
    grid-column: 2/12; }
    .main__nosotros .contenido h2 {
      font-size: 6rem;
      color: #ba98e6;
      font-weight: bolder;
      text-align: center;
      font-family: 'Pacifico', cursive; }
    .main__nosotros .contenido .contenido__texto p {
      padding: 2rem 2rem;
      grid-column: 4/10;
      color: #ced495;
      font-size: 2rem;
      text-align: center; }

main {
  background-image: url(../imagenes/Vegetarianismo.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr, auto, auto, auto;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-column-end: span 12;
  min-height: 100vh; }
  main #carousel {
    grid-column: 3/11;
    margin-top: 3rem;
    border: 2px solid black; }
    main #carousel .carousel-inner img {
      height: 380px; }
  main .menu {
    grid-column: 2/6;
    height: fit-content;
    padding: 2rem 1rem; }
    main .menu .titulo {
      text-align: left; }
    main .menu ul {
      list-style-type: none;
      text-align: left; }
      main .menu ul li {
        padding: 1rem 0; }
        main .menu ul li a {
          font-size: 40px;
          color: #ced495; }
        main .menu ul li a:hover {
          display: block;
          transform: scaleY(1.2); }
  main .video {
    grid-column: 7/12;
    margin: 0 auto;
    padding: 2rem; }
    main .video iframe {
      margin-top: 2rem; }
  main .tienda {
    grid-column: 2/12;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    main .tienda .tienda__card {
      width: 380px;
      height: 338.55;
      margin: 2rem; }
      main .tienda .tienda__card img {
        width: 100%;
        height: 253.91px; }
      main .tienda .tienda__card p {
        font-size: 4rem;
        color: #ced495;
        text-align: center; }
    main .tienda .tienda__card:hover {
      background-color: rgba(209, 201, 201, 0.75); }

.main__contacto {
  grid-template-rows: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__contacto .formulario {
    grid-column: 3/11;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #ced495;
    font-size: 2rem;
    padding: 2rem; }
    .main__contacto .formulario h2 {
      font-size: 4rem;
      margin-bottom: 3rem; }
    .main__contacto .formulario .control {
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 2rem;
      border: 1px solid #ced495;
      font-size: 2rem;
      color: #ced495;
      background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }
    .main__contacto .formulario .botones {
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      .main__contacto .formulario .botones .boton {
        width: 40%;
        background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
        border: 1px solid #ced495;
        color: #ced495;
        border-radius: 5px; }

.main__ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .main__ubicacion #mapa {
    height: 600px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

@media screen and (max-width: 1353px) {
  main .menu .titulo {
    font-size: 45px; }
  main #carousel .carousel-inner img {
    height: 320px; } }

@media screen and (max-width: 1193px) {
  main #carousel .carousel-inner img {
    height: 280px; }
  main .video {
    height: fit-content;
    margin: auto; }
    main .video iframe {
      width: 360px;
      margin-left: 2rem; }
  main .tienda .tienda__card {
    width: 320px;
    height: 298.55px; }
    main .tienda .tienda__card p {
      font-size: 3rem; }
  .main__ubicacion #mapa {
    height: 500px;
    width: 600px; }
    .main__ubicacion #mapa iframe {
      height: 300px;
      width: 400px; } }

@media screen and (max-width: 902px) {
  header .registro ul li {
    padding: 0.5rem; }
  header nav ul {
    width: 70%; }
    header nav ul li a {
      font-size: 2rem; }
  main {
    background-size: cover;
    background-position: center;
    grid-template-rows: repeat(4, auto); }
    main #carousel {
      grid-column: 2/12; }
      main #carousel .carousel-inner img {
        height: 300px; }
    main .menu {
      grid-column: 3/11;
      grid-row: 2/3;
      text-align: center; }
    main .video {
      grid-column: 2/12;
      grid-row: 3/4; }
    main .tienda {
      grid-row: 4/5;
      grid-row: 4/5; }
      main .tienda .tienda__card {
        width: 270px;
        height: 220.55px; }
        main .tienda .tienda__card img {
          height: 190.55px; }
        main .tienda .tienda__card p {
          font-size: 2rem; } }

@media screen and (max-width: 720px) {
  footer {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    height: fit-content !important; } }

@media screen and (max-width: 630px) {
  header {
    height: 235px; }
    header .registro a {
      font-size: 1rem !important; }
    header nav {
      flex-direction: column; }
      header nav .logo, header nav .logo2 {
        margin-bottom: 1rem; }
      header nav ul {
        width: 100%;
        border-radius: 0;
        margin: 0; }
  main #carousel .carousel-inner img {
    width: 310px;
    height: 240px; }
  main .menu {
    grid-column: 2/12; }
    main .menu .titulo {
      text-align: center; }
    main .menu ul {
      text-align: center; }
  .main__ubicacion #mapa {
    height: 400px;
    width: 450px; }
    .main__ubicacion #mapa iframe {
      height: 300px;
      width: 350px; } }

@media screen and (max-width: 500px) {
  header {
    height: fit-content; }
    header nav {
      padding: 0; }
      header nav .logo, header nav .logo2 {
        display: none; }
      header nav .logo2 {
        display: block; }
      header nav ul {
        flex-direction: column;
        position: absolute;
        width: 100%;
        display: none;
        z-index: 1; }
        header nav ul li {
          border-bottom: 2px solid white;
          width: 100%;
          text-align: center; }
    header #btn-menu:checked ~ nav ul {
      display: block;
      margin-top: 400px; }
    header #btn-menu:checked ~ main #carousel {
      display: none !important; }
  main #carousel .carousel-inner img {
    height: 200px; }
  main .menu {
    grid-column: 2/12; }
    main .menu .titulo {
      font-size: 35px; }
    main .menu ul li a {
      font-size: 30px; }
  main .video {
    grid-column: 2/12;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0; }
    main .video iframe {
      width: 250px;
      height: 200px; }
    main .video .titulo {
      font-size: 35px; }
  main .tienda .tienda__card {
    width: 100%; }
  .main__tienda {
    grid-template-rows: repeat(5, auto);
    row-gap: 10rem;
    padding: 10rem 0; }
    .main__tienda .container {
      grid-column: 3/11;
      height: fit-content; }
      .main__tienda .container h2 {
        font-size: 3rem; }
      .main__tienda .container .prod__card h3 {
        font-size: 2rem; }
  .main__contacto .formulario h2 {
    font-size: 3rem; }
  .main__contacto .formulario .botones .boton {
    width: 46%; }
  .main__ubicacion #mapa {
    grid-column: 2/12;
    height: fit-content; }
    .main__ubicacion #mapa iframe {
      width: 350px;
      height: 350px;
      margin: 3rem 0px; } }
